<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqH9v5oAsleNdu-a0Vbji2WNSLf4g8Gw4</string>
	<key>GCM_SENDER_ID</key>
	<string>995839379754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamcast.narvigate</string>
	<key>PROJECT_ID</key>
	<string>cto-talks-webapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cto-talks-webapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995839379754:ios:b268564ea5e6dc12d3b653</string>
	<key>DATABASE_URL</key>
	<string>https://cto-talks-webapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>